VITE_API_URL=http://localhost:8787
ETHICAL_WORLD_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
ETHICAL_WORLD_SMTP_HOST=smtp.gmail.com
ETHICAL_WORLD_SMTP_PORT=465
ETHICAL_WORLD_SMTP_USER=rabbithollowczech@gmail.com
ETHICAL_WORLD_SMTP_PASSWORD=
